# Special case for the home page

# Must be the FIRST rule
a_page:
  url:   /:slug
  class: aCmsRoute
  options: {type: object, model: aPage}
  param: { module: a, action: show }
  requirements: { slug: .* }


# default rules
homepage:
  url:   /
  param: { module: a, action: show, slug: / }

a_action:
  url: /cms/:module/:action
