/* Areas and Slots */
/* Controls for Areas & Slots */
/* Singlton Slot Controls */
/* aOptions for Areas & Slots :: aOptions is in a-components.css 
/* aOptions for Slot Variants :: aOptions is in a-components.css
/* aOptions for Slot Edit Forms :: aOptions is in a-components.css 
/* aSlideshow Slot Styles */
/* aButton Slot Styles  */
/* aImage Slot Styles  */
/* aVideo Slot Styles  */
/* aRawHTML Slot Styles  */
/* aFeed Slot Styles  */
/* aPDF Slot Styles */
/* aPDF Slot No Label */
/* aPDF Slot Compact */
/* aPDF Slot Compact with Preview */
/* aSlot Content Styles 
/* Media Placeholder :: Shared by aSlideshow, aImage, aVideo, aButton
/* Misc


/* Areas and Slots
-------------------------------------*/

/* Area Information:  
/* .a-area wraps .a-slots */
/* .a-slots wraps all slots, .a-slot */
/* .a-slot wraps .a-slot-content */
/* .a-slot-content wraps .a-slot-content-container AND .a-slot-form :: BOTH .a-slot-content-container AND .a-slot-form are not output when logged out */

.a-area, .a-slots, .a-slot, .a-slot-content, .a-slot-content-container, .a-slot-form { position: relative; }

.a-area.editing-now,
.a-slot.editing-now { z-index: 900; }

.logged-in .a-slot { min-height: 20px; margin-bottom: 20px; }



/* Controls for Areas & Slots
-------------------------------------*/

.a-ui.a-controls
{ 
position: relative;
margin: 0;
padding: 0;
list-style: none;
clear: both;
}

.a-ui.a-controls li
{ /* All controls buttons are wrapped in a list. */
float: left;
display: inline;
position: relative;
margin: 0px 2px 2px 0 !important;
width: auto;
height: auto;
border: none;
list-style: none;
clear: none;
}

.a-ui.a-controls li.last { margin: 0 0 2px 0 !important; } /* .last option has no margin */

.a-ui.a-controls.a-over { position: absolute; top: 0; left: 0; z-index: 799; margin: 0 !important; } /* Explicitly place the controls over the slot */

.a-area > .a-ui.a-controls { margin: 0 0 10px; }

.a-slot > .a-ui.a-controls { width: 100%; }
.a-slot.editing-now > .a-ui.a-controls { z-index: 899; } /* Controls sit on top when editing a slot */


/* Singlton Slot Controls
------------------------------------------------ */
.a-area.singleton > .a-controls { position: absolute; top: 0; left: 0; z-index: 799; margin: 0 !important; } /* Singletons place the controls over the slot */

.a-area.singleton.editing-now > .a-ui.a-controls { z-index: 899; } /* Controls sit on top when editing a slot */

.a-area.singleton .a-slot-controls { display: none; } /* There are no such thing as slot controls for singleton areas. This prevents the page wiggle on load */

.a-area.singleton.aRichText > .a-controls,
.a-area.singleton.aText > .a-controls,
.a-area.singleton.aBlog > .a-controls,
.a-area.singleton.aBlogSingle > .a-controls,
.a-area.singleton.aEvent > .a-controls,
.a-area.singleton.aEventSingle > .a-controls { position: relative; margin-bottom: 0; } /* Some Singleton Slots don't want Area Controls to sit on top of their content */


/* aOptions for Areas & Slots :: aOptions is in a-components.css 
-------------------------------------------------------------------- */
.a-ui .a-options.a-area-options { z-index: 699; display: none; min-width: 100%; padding: 35px 5px 5px; }
.a-ui .a-options.a-area-options .a-options-item,
.a-ui .a-options.a-area-options .a-options-item.last { 
width: 100%;
float: left;
clear: both;
margin: 0 0 4px 0;
list-style: none;
}


/* aOptions for Slot Variants :: aOptions is in a-components.css
-------------------------------------------------------------------- */
ul.a-controls .a-controls-item.variant.a-options-open .a-variant-options
{ 
width: auto;
display: block;
}

ul.a-controls .a-variant-options.loading
{ 
background: #fff url('/apostrophePlugin/images/a-icon-loader.gif') 95% 5px no-repeat;
}


/* aOptions for Slot Edit Forms :: aOptions is in a-components.css 
-------------------------------------------------------------------- */
.a-ui .a-options.a-slot-form { width: 100%; top: -27px; }

.a-ui .a-options.a-slot-form .a-form-row
{ 
line-height: 20px;
margin: 0 0 15px 0;
padding: 0 10px;
width: auto;
clear: both;
}

.a-ui .a-options.a-slot-form .a-form-row:hover .a-form-help-text { display: block; }

.a-ui .a-options.a-slot-form .a-form-row label { width: 80px; float: left; margin: 0 10px 0 0; color: #666; }

.a-ui .a-options.a-slot-form .a-form-field { float: left; }

.a-ui .a-options.a-slot-form .a-slot-form-title
{ 
position: absolute;
float: right;
right: 7px;
top: 0;
line-height: 27px;
}

.a-ui .a-options.a-slot-form .a-form-help-text
{ 
position: absolute;
top: 0;
left: 100%;
white-space: nowrap;
width: auto;
margin-left: 20px;
padding: 0 6px 0 0;
background: rgba(0,0,0,1);
color: #ccc;
line-height: 21px;
-moz-border-radius: 0 4px 4px 0px;
-webkit-border-radius: 0 4px 4px 0px;
border-radius: 0 4px 4px 0px;
-moz-box-shadow: rgba(255,255,255,0.25) 0px 0px 2px;
-webkit-box-shadow: rgba(255,255,255,0.25) 0px 0px 2px;
-opera-box-shadow: rgba(255,255,255,0.25) 0px 0px 2px;
-khtml-box-shadow: rgba(255,255,255,0.25) 0px 0px 2px;
box-shadow: rgba(255,255,255,0.25) 0px 0px 2px;
display: none;
}

.a-ui .a-options.a-slot-form .a-form-help-text .a-help-arrow
{ 
position: absolute;
top: 0;
left: -15px;
float: left;
height: 21px;
width: 15px;
margin: 0 5px 0 0;
background: url(/apostrophePlugin/images/a-help-arrow.png) 0 0 no-repeat;
}



/* aSlideshow Slot Styles
---------------------------------------- */
ul.a-slideshow-controls
{
position: absolute;
top: 5px;
right: 5px;
height: auto;
border: none;
list-style: none;
z-index: 799;
}

.a-slideshow-item { overflow: hidden; display: none; }
.a-slideshow-item .a-slideshow-title {  }
.a-slideshow-item .a-slideshow-image { line-height: 0 !important; } /* RB: fixes the bit of whitespace after img */



/* aButton Slot Styles 
------------------------------------- */
.a-slot.aButton .a-button, 
.a-slot.aButton .a-button .a-button-image,
.a-slot.aButton .a-button .a-button-image .a-button-link,
.a-slot.aButton .a-button .a-button-title
{ 
float: left;
clear: both;
display: inline;
position: relative;
width: 100%;
margin: 0;
}

.a-slot.aButton .a-button { background: none; } /* Fixes IE6 Bug */


/* aImage Slot Styles 
------------------------------------- */
.a-slot.aImage .a-media-image,
.a-slot.aImage .a-image-embed { float: left; clear: both; line-height: 0; }


/* aVideo Slot Styles 
------------------------------------- */


/* aRawHTML Slot Styles 
------------------------------------- */
.a-slot.aRawHTML textarea
{ 
float: left;
width: 100%;
border: 1px solid #333;
padding: 2px;
height: 200px;
font: 12px/1.2 Monospace;
background: #efefef;
margin: 0 0 0 -3px;
}


/* aFeed Slot Styles 
------------------------------------- */
.a-slot.aFeed .a-feed,
.a-slot.aFeed .a-feed .a-feed-item
{ 
float: left;
display: inline;
position: relative;
clear: both;
width: 100%;
margin-bottom: 10px;
}

.a-slot.aFeed .a-feed .a-feed-item .title { font-size: 14px; }
.a-slot.aFeed .a-feed .a-feed-item .date { margin: 5px 0; color: #999; }
.a-slot.aFeed .a-feed .a-feed-item .date,
.a-slot.aFeed .a-feed .a-feed-item .description { font-size: 11px; line-height: 1.4; }



/* aPDF Slot Styles
------------------------------------- */
.a-slot.aPDF { margin: 20px 0px; }

.a-pdf-slot { position: relative; overflow: hidden; width: 100%; }

.a-pdf-slot .a-pdf-meta { position: relative; margin: 5px 0; }

.a-pdf-title { width: 100%; font-size: 16px; }

.a-pdf-description { margin-top: 0px; color: #666; width: 100%; margin: 5px 0; }

.a-pdf-download { margin-left: -3px; }

.a-pdf-download a { background: url(/apostrophePlugin/images/a-icon-alt-download.png) no-repeat left center; padding-left: 20px; }


/* aPDF Slot No Label
------------------------------------------------ */
.a-pdf-slot.no-label { height: auto !important; height: 43px; }

.a-pdf-slot.no-label .a-media-pdf-icon
{ 
position: absolute;
height: 43px;
width: 34px;
margin-top: 5px;
top: 0;
left: 0;
z-index: 10;
}

.a-pdf-slot.no-label .a-media-pdf-icon a
{ 
float: left;
background: url(/apostrophePlugin/images/a-pdf-icon-tiny.png) no-repeat top left;
height: 100%;
width: 100%;
overflow: hidden;
text-indent: -9999px;
}

.a-pdf-slot.no-label .a-pdf-meta { padding-left: 45px; text-indent: 0 !important; }


/* aPDF Slot Compact
------------------------------------------------ */
.compact .a-pdf-slot.no-label .a-media-pdf-icon { 
display: inline;
position: absolute;
top: 0;
left: 0;
height: 20px;
width: 20px;
margin-top: 4px;
z-index: 10;
}

.compact .a-pdf-slot.no-label .a-media-pdf-icon a
{ 
float: left;
background: url(/apostrophePlugin/images/a-icon-pdf.png) no-repeat top left;
height: 100%;
width: 100%;
overflow: hidden;
text-indent: -9999px;
}

.compact .a-pdf-slot.no-label .a-pdf-meta { padding-left: 25px; }
.compact .a-pdf-title { width: 100%; font-size: 14px; }
.compact .a-pdf-description {  display: none; }
.compact .a-pdf-download {  display: none; }


/* aPDF Slot Compact with Preview
------------------------------------------------ */
.compact .a-pdf-slot.with-preview .a-media-pdf-icon img
{ 
border: 1px solid #ccc;
margin-right: 10px;
margin-bottom: 5px;
height: 70px;
width: 56px;
}

.compact .a-pdf-slot.with-preview .a-media-pdf-icon
{ 
position: absolute;
top: 0;
left: 0;
height: 70px;
width: 56px;
margin-top: 5px;
z-index: 10;
overflow: hidden;
}

.compact .a-pdf-slot.with-preview .a-media-pdf-icon a { float: left; height: 100%; width: 100%; text-indent: -9999px; }

.compact .a-pdf-slot.with-preview .a-pdf-meta { padding-left: 70px; }


/* aSlot Content Styles 
--------------------------------------- */

.aRichText .a-slot-content strong,
.aRichText .a-slot-content b { font-weight: bold; }

.aRichText .a-slot-content em,
.aRichText .a-slot-content i { font-style: italic; }

.aRichText .a-slot-content ul,
.aRichText .a-slot-content ol,
.aText .a-slot-content ul,
.aText .a-slot-content ol,
.aRawHTML .a-slot-content ul,
.aRawHTML .a-slot-content ol { margin-left: 1.5em; }

.a-blog-item-meta,
.aFeed .a-slot-content ul,
.aImage .a-slot-content ul,
.aVideo .a-slot-content ul,
.aSlideshow .a-slot-content ul,
.aPDF .a-slot-content ul,
.aButton .a-slot-content ul { list-style: none; padding: 0; }

.aSlideshow .a-slideshow,
.aSlideshow .a-slideshow li {	float: left; width: 100%; clear: both; }

.aButton a img { border: 0; }

.aBlog .a-options.a-slot-form,
.aEvent .a-options.a-slot-form { width: 300px; }

.aBlogSingle .a-blogsingle-input,
.aBlog .a-options.a-slot-form .a-form-row.tags input,
.aEvent .a-options.a-slot-form .a-form-row.tags input { width: 180px; }

.aBlogSingle .a-options.a-slot-form .a-form-row { padding: 0; }

.aBlogSingle .a-form-row.search label { width: 120px; }




/* Media Placeholder :: Shared by aSlideshow, aImage, aVideo, aButton
------------------------------------- */

.a-media-placeholder { } /* Height and Width are defined in the template and applied inline in _normalView.php */

.a-media-placeholder span
{ 
display: block;
width: 100%;
height: 100%;
text-align: center;
border: 1px dashed #ccc;
margin: -1px 0 0 -1px;
background: rgba(0,0,0,0.025);
}

/* Misc
------------------------------------- */

ul.a-controls.a-media-edit-links { width: 100%; }

.a-area.previewing-history .a-controls { display: none !important; }
