/* Apostrophe Buttons
-------------------------------------*/
.a-ui .a-btn, .a-ui.a-btn, .a-ui .a-ui.a-btn, .a-btn,
.a-ui .a-link, .a-ui.a-link, .a-ui .a-ui.a-link, .a-link {
position: relative;
float: left;
display: inline;
text-decoration: none;
font-family: arial, sans-serif;
font-size: 12px;
cursor: pointer;
padding: 0 4px;
white-space: nowrap;
height: 18px;
line-height: 18px;
border: none;
}

.a-ui .a-btn.icon,
.a-ui .a-link.icon,
.a-ui.a-btn.icon,
.a-ui.a-link.icon { padding: 0 4px 0 20px; }

.a-ui .a-btn.icon.icon-right,
.a-ui .a-link.icon.icon-right,
.a-ui.a-btn.icon.icon-right,
.a-ui.a-link.icon.icon-right { padding: 0 20px 0 4px; }

.a-ui.a-btn.icon > .icon,
.a-ui.a-link.icon > .icon,
.a-ui.a-tag > .a-tag-count,
.a-ui .a-btn.icon > .icon,
.a-ui .a-link.icon > .icon,
.a-ui .a-tag > .a-tag-count
{
float: left;
display: block;
height: 18px;
width: 18px;
position: absolute;
top: 50%;
left: 0;
margin-top: -9px;
background-position: 50% 50%;
background-repeat: no-repeat;
overflow: hidden; text-indent: -9999px;
}

.a-ui.a-btn.icon.icon-right > .icon,
.a-ui.a-link.icon.icon-right > .icon,
.a-ui .a-btn.icon.icon-right > .icon,
.a-ui .a-link.icon.icon-right > .icon
{
	left: auto;
	right: 0;
}

.a-ui .a-tag > .a-tag-count { text-indent: 0; text-align: center;}

.a-ui .a-btn.icon:hover > .icon, 
.a-ui .a-btn.icon:focus > .icon { background-color: none; }

.a-ui .a-btn.no-label, .a-btn.no-label {
background-position: center center;
background-repeat: no-repeat;
text-indent: -9999px;
padding: 0;
width: 18px;
}

.a-btn.no-label:hover { text-indent: -9999px; }

/* Buttons with No Label and an Icon should center the icon on the button */
.a-btn.no-label.icon > .icon { left: 50%; top: 50%; margin: -9px 0 0 -9px;}

.a-ui .a-btn.lite { text-shadow: none; background: none; line-height: 18px; border: 1px solid transparent; }
.a-ui .a-btn.lite:hover { color: #000 !important; background-color: rgba(0,0,0,0.125) !important; border: 1px inset rgba(0,0,0,0.125) !important; }

.a-btn.big, input.a-btn.a-submit.big { font-size: 18px; height: 24px; line-height: 24px; background-position: center left; }
input.a-btn.a-submit.big { height: 26px; } /* inputs need 2px more for some reason */
.a-btn.big.no-label { background-position: center center; width: 24px; }

.a-btn.mini { font-size: 10px !important; height: 16px; line-height: 16px !important; background-position: center left; }
.a-btn.mini.no-label { background-position: center center; width: 16px; }

.a-ui .a-btn.lite.big { line-height: 24px; }
.a-ui .a-btn.lite.mini { line-height: 16px; }

.a-btn.nobg,
.a-btn.nobg:hover,
.a-btn.nobg:focus,
.a-btn.no-bg,
.a-btn.no-bg:hover,
.a-btn.no-bg:focus {
border: 0 !important;
text-shadow: none !important;
background: none !important;
-moz-box-shadow: 0 0 0 transparent !important;
-webkit-box-shadow: 0 0 0 transparent !important;
-opera-box-shadow: 0 0 0 transparent !important;
-khtml-box-shadow: 0 0 0 transparent !important;
box-shadow: 0 0 0 transparent !important;
line-height: 20px !important;
height: 20px !important;
}


/* 7. Apostrophe Button Icons
-------------------------------------*/

.a-add > .icon { background-image: url(../images/a-icon-add.png); }
.a-arrow-up > .icon { background-image: url(../images/a-icon-arrow-up.png); }
.a-arrow-down > .icon { background-image: url(../images/a-icon-arrow-down.png); }
.a-arrow-left > .icon { background-image: url(../images/a-icon-arrow-left-simple.png); }
.a-arrow-right > .icon { background-image: url(../images/a-icon-arrow-right-simple.png); }
.a-blog > .icon,
.a-blog-btn > .icon,
.a-blogpost > .icon,
.a-blogsingle > .icon { background-image: url(../images/a-icon-blog.png); }
.a-blog > .icon { background-image: url(../images/a-icon-alt-blog-many.png) !important; }
.a-button > .icon { background-image: url(../images/a-icon-button.png); }
.a-calendar > .icon { background-image: url(../images/a-icon-event.png); }
.a-cancel > .icon { background-image: url(../images/a-icon-cancel.png); }
.a-checked > .icon { background-image: url(../images/a-icon-checked.png); }
.a-crop > .icon { background-image: url(../images/a-icon-crop.png); }
.a-delete > .icon { background-image: url(../images/a-icon-alt-trash.png); }
.a-download > .icon { background-image: url(../images/a-icon-download.png); }
.a-dropdown-arrow > .icon { background-image: url(../images/a-icon-dropdown-arrow.png); }
.a-drag > .icon { background-image: url(../images/a-icon-drag-simple.png); }
.a-edit > .icon, .a-publish > .icon { background-image: url(../images/a-icon-edit.png); }
.a-email > .icon { background-image: url(../images/a-icon-email.png); }
.a-feed > .icon { background-image: url(../images/a-icon-feed.png); }
.a-rss-feed > .icon { background-image: url(../images/a-icon-rss-feed.png); }
.a-filters > .icon { background-image: url(../images/a-icon-filters.png); }
.a-file > .icon { background-image: url(../images/a-icon-file.png); }
.a-google-maps > .icon { background-image: url(../images/a-icon-download.png); }
.a-image > .icon { background-image: url(../images/a-icon-photo.png); }
.a-history-btn > .icon, 
.a-history-revert > .icon { background-image: url(../images/a-icon-alt-history.png); }
.a-media > .icon { background-image: url(../images/a-icon-media.png); }
.a-media-one-up > .icon { background-image: url(../images/a-icon-media-one-up.png); }
.a-media-two-up > .icon { background-image: url(../images/a-icon-media-two-up.png); }
.a-media-four-up > .icon { background-image: url(../images/a-icon-media-four-up.png); }
.a-page-settings > .icon { background-image: url(../images/a-icon-page-settings.png); }
.a-page-small > .icon { background-image: url(../images/a-icon-page-small.png); }
.a-pdf > .icon { background-image: url(../images/a-icon-pdf.png); }
.a-rawhtml > .icon { background-image: url(../images/a-icon-rawhtml.png); }
.a-reorganize > .icon { background-image: url(../images/a-icon-sitemap.png); }
.a-replace > .icon { background-image: url(../images/a-icon-replace.png); }
.a-richtext > .icon, .a-text > .icon { background-image: url(../images/a-icon-text.png); }
.a-search > .icon { background-image: url(../images/a-icon-search.png); }
.a-settings > .icon { background-image: url(../images/a-icon-settings.png); }
.a-slideshow > .icon { background-image: url(../images/a-icon-photo.png); }
.a-smartslideshow > .icon { background-image: url(../images/a-icon-smart-slideshow.png); }
.a-templates > .icon { background-image: url(../images/a-icon-templates.png); }
.a-unchecked > .icon { background-image: url(../images/a-icon-unchecked.png); }
.a-users > .icon { background-image: url(../images/a-icon-users.png); }
.a-video > .icon { background-image: url(../images/a-icon-video.png); }
.a-audio > .icon { background-image: url(../images/a-icon-audio.png); }
.a-categories > .icon,
.a-tags > .icon { background-image: url(../images/a-icon-tag.png); }
.a-busy > .icon { background-image: url(../images/a-icon-loader-2.gif) !important; }
.a-ui .a-btn.icon.a-busy > .icon { left: 2px; }
.a-ui .a-btn.icon.a-busy { padding-left: 24px; }

/* Apostrophe Alternate Button Icons
-------------------------------------*/

.alt .a-add > .icon, .a-add.alt > .icon { background-image: url(../images/a-icon-alt-add.png); }
.alt .a-arrow-up > .icon, .a-arrow-up.alt > .icon { background-image: url(../images/a-icon-alt-arrow-up.png); }
.alt .a-arrow-down > .icon, .a-arrow-down.alt > .icon { background-image: url(../images/a-icon-alt-arrow-down.png); }
.alt .a-arrow-left > .icon,  .a-arrow-left.alt > .icon { background-image: url(../images/a-icon-alt-arrow-left-simple.png); }
.alt .a-arrow-right > .icon, .a-arrow-right.alt > .icon { background-image: url(../images/a-icon-alt-arrow-right-simple.png); }
.alt .a-arrow-left.thin > .icon, .a-arrow-left.thin.alt > .icon { background-image: url(../images/a-icon-alt-arrow-left-thin-simple.png); }
.alt .a-arrow-right.thin > .icon, .a-arrow-right.thin.alt > .icon { background-image: url(../images/a-icon-alt-arrow-right-thin.png); }
.alt .a-blog-btn .icon,
.alt .a-blog .icon,
.alt .a-blogpost .icon,
.alt .a-blogsingle .icon,
.a-blog-btn.alt .icon,
.a-blog.alt .icon,
.a-blogpost.alt .icon,
.a-blogsingle.alt .icon { background-image: url(../images/a-icon-alt-blog.png); }
.alt .a-button > .icon, .a-button.alt > .icon { background-image: url(../images/a-icon-alt-button.png); }
.alt .a-calendar > .icon, .a-calendar.alt > .icon { background-image: url(../images/a-icon-alt-event.png); }
.alt .a-cancel > .icon, .a-cancel.alt > .icon { background-image: url(../images/a-icon-alt-cancel.png); }
.alt .a-checked > .icon, .a-checked.alt > .icon { background-image: url(../images/a-icon-alt-checked.png); }
.alt .a-close > .icon, .a-close.alt > .icon { background-image: url(../images/a-icon-alt-close-simple.png); }
.alt .a-delete > .icon, .a-delete.alt > .icon { background-image: url(../images/a-icon-alt-trash.png); }
.alt .a-download > .icon, .a-download.alt > .icon { background-image: url(../images/a-icon-alt-download.png); }
.alt .a-dropdown-arrow > .icon, .a-dropdown-arrow.alt > .icon { background-image: url(../images/a-icon-alt-dropdown-arrow.png); }
.alt .a-drag > .icon, .a-drag.alt > .icon { background-image: url(../images/a-icon-alt-drag-simple.png); }
.alt .a-edit .icon,
.a-edit.alt .icon { background-image: url(../images/a-icon-alt-edit.png); }
.alt .a-email > .icon, .a-email.alt > .icon { background-image: url(../images/a-icon-alt-email.png); }
.alt .a-feed > .icon, .a-feed.alt > .icon { background-image: url(../images/a-icon-alt-feed.png); }
.alt .a-file > .icon, .a-file.alt > .icon { background-image: url(../images/a-icon-alt-file.png); }
.alt .a-google-maps > .icon, .a-google-maps.alt > .icon { background-image: url(../images/a-icon-alt-download.png); }
.alt .a-history-btn .icon,
.alt .a-history-revert .icon,
.a-history-btn.alt .icon,
.a-history-revert.alt .icon { background-image: url(../images/a-icon-alt-history.png); }
.alt .a-image > .icon, .a-image.alt > .icon { background-image: url(../images/a-icon-alt-photo.png); }
.alt .a-media > .icon, .a-media.alt > .icon { background-image: url(../images/a-icon-alt-media.png); }
.alt .a-page-settings > .icon, .a-page-settings.alt > .icon { background-image: url(../images/a-icon-alt-page-settings.png); }
.alt .a-page-small > .icon, .a-page-small.alt > .icon { background-image: url(../images/a-icon-alt-page-small.png); }
.alt .a-pdf > .icon, .a-pdf.alt > .icon { background-image: url(../images/a-icon-alt-pdf.png); }
.alt .a-publish .icon,
.a-publish.alt .icon { background-image: url(../images/a-icon-alt-edit.png); }
.alt .a-rawhtml > .icon, .a-rawhtml.alt > .icon { background-image: url(../images/a-icon-alt-rawhtml.png); }
.alt .a-reorganize > .icon, .a-reorganize.alt > .icon { background-image: url(../images/a-icon-alt-sitemap.png); }
.alt .a-richtext > .icon, 
.a-richtext.alt > .icon, 
.alt .a-text > .icon, 
.a-text.alt > .icon { background-image: url(../images/a-icon-alt-text.png); }
.alt .a-slideshow > .icon, .a-slideshow.alt > .icon { background-image: url(../images/a-icon-alt-photo.png); }
.alt .a-smartslideshow > .icon, .a-smartslideshow.alt > .icon { background-image: url(../images/a-icon-alt-smart-slideshow.png); }
.alt .a-search > .icon, .a-search.alt > .icon { background-image: url(../images/a-icon-search.png); }
.alt .a-settings > .icon, .a-settings.alt > .icon { background-image: url(../images/a-icon-alt-settings.png); }
.alt .a-templates > .icon, .a-templates.alt > .icon { background-image: url(../images/a-icon-alt-templates.png); }
.alt .a-unchecked > .icon, .a-unchecked.alt > .icon { background-image: url(../images/a-icon-alt-unchecked.png); }
.alt .a-users > .icon, .a-users.alt > .icon { background-image: url(../images/a-icon-alt-users.png); }
.alt .a-video > .icon, .a-video.alt > .icon { background-image: url(../images/a-icon-alt-video.png); }
.alt .a-replace > .icon, .a-replace.alt > .icon { background-image: url(../images/a-icon-alt-replace.png); }
.alt .a-audio > .icon, .a-audio.alt > .icon { background-image: url(../images/a-icon-alt-audio.png);	}
.alt .a-categories > .icon, .a-categories.alt > .icon,
.alt .a-tags > .icon, .a-tags.alt  > .icon { background-image: url(../images/a-icon-alt-tag.png); }

/* Apostrophe Events Sprite
-------------------------------------*/

.a-event > .icon,
.a-eventsingle > .icon, 
.a-events > .icon { float: left; height: 18px; width: 18px; background-image: url(../images/a-icon-event-sprite.png); }

.alt .a-event > .icon,
.alt .a-eventsingle > .icon,
.a-event.alt > .icon,
.a-eventsingle.alt > .icon,
.alt .a-events > .icon,
.a-events.alt > .icon { background-image: url(../images/a-icon-alt-event-sprite.png); }

.a-ui .a-events.day-1 > .icon { background-position: 0 0px; }
.a-ui .a-events.day-2 > .icon { background-position: 0 -21px; }
.a-ui .a-events.day-3 > .icon { background-position: 0 -41px; }
.a-ui .a-events.day-4 > .icon { background-position: 0 -61px; }
.a-ui .a-events.day-5 > .icon { background-position: 0 -81px; }
.a-ui .a-events.day-6 > .icon { background-position: 0 -101px; }
.a-ui .a-events.day-7 > .icon { background-position: 0 -121px; }
.a-ui .a-events.day-8 > .icon { background-position: 0 -141px; }
.a-ui .a-events.day-9 > .icon { background-position: 0 -161px; }
.a-ui .a-events.day-10 > .icon { background-position: 0 -181px; }
.a-ui .a-events.day-11 > .icon { background-position: 0 -201px; }
.a-ui .a-events.day-12 > .icon { background-position: 0 -221px; }
.a-ui .a-events.day-13 > .icon { background-position: 0 -241px; }
.a-ui .a-events.day-14 > .icon { background-position: 0 -261px; }
.a-ui .a-events.day-15 > .icon { background-position: 0 -281px; }
.a-ui .a-events.day-16 > .icon { background-position: 0 -301px; }
.a-ui .a-events.day-17 > .icon { background-position: 0 -321px; }
.a-ui .a-events.day-18 > .icon { background-position: 0 -341px; }
.a-ui .a-events.day-19 > .icon { background-position: 0 -361px; }
.a-ui .a-events.day-20 > .icon { background-position: 0 -381px; }
.a-ui .a-events.day-21 > .icon { background-position: 0 -401px; }
.a-ui .a-events.day-22 > .icon { background-position: 0 -421px; }
.a-ui .a-events.day-23 > .icon { background-position: 0 -441px; }
.a-ui .a-events.day-24 > .icon { background-position: 0 -461px; }
.a-ui .a-events.day-25 > .icon { background-position: 0 -481px; }
.a-ui .a-events.day-26 > .icon { background-position: 0 -501px; }
.a-ui .a-events.day-27 > .icon { background-position: 0 -521px; }
.a-ui .a-events.day-28 > .icon { background-position: 0 -541px; }
.a-ui .a-events.day-29 > .icon { background-position: 0 -561px; }
.a-ui .a-events.day-30 > .icon { background-position: 0 -581px; }
.a-ui .a-events.day-31 > .icon, .a-ui .a-event, .a-eventsingle { background-position: 0 -601px; }


/* Apostrophe Sort Arrow Button
-------------------------------------*/

.a-ui .a-btn.a-sort-arrow > .icon { background-position: 0 0; }
.a-ui .a-btn.a-sort-arrow.sorting .icon:hover { background-position: 0 -20px; }
.a-btn.a-sort-arrow.sorting .icon, .a-btn.a-sort-arrow .icon:hover { background-position: 0 -20px; }
.a-btn.a-sort-arrow.asc .icon { background-image: url(../images/a-icon-sort-arrow-asc.png); }
.a-btn.a-sort-arrow.desc .icon { background-image: url(../images/a-icon-sort-arrow-desc.png); }
.a-btn.a-sort-arrow.asc.sorting .icon:hover { background-image: url(../images/a-icon-sort-arrow-desc.png); }
.a-btn.a-sort-arrow.desc.sorting .icon:hover { background-image: url(../images/a-icon-sort-arrow-asc.png); }


/* Apostrophe History Button
-------------------------------------*/

.a-btn.a-history-btn, .a-btn.a-history-revert { color: #111 !important; background-color: #fff !important; }
.a-history-btn > .icon, .a-history-revert > .icon {	background-position: 50% 50%;	background-repeat: none; }
.a-btn.a-history-btn.big > .icon { left: 50%; margin-left: -9px; }
#a-history-heading-button > .icon { left: 0; margin-left: 0; }


/* Apostrophe Cancel Button
-------------------------------------*/

.a-cancel { color: #fff !important; padding: 0 4px 0 20px; background-color: #999 !important; padding-left: 20px !important; }
.a-btn.a-cancel:hover { background-color: #333 !important; text-decoration: none !important; }
.a-cancel.no-label { padding: 0 !important; }


/* Apostrophe Delete Button
-------------------------------------*/

.a-ui.a-btn.a-delete.no-label,
.a-ui .a-btn.a-delete.no-label { background-color: #fff; color: #000; }


/* Apostrophe Close Button
-------------------------------------*/

.a-close > .icon { background-image: url(../images/a-icon-close-simple.png); }
.a-selected > .icon,
.a-close-small > .icon { background-image: url(../images/a-icon-close-small-simple.png); }

.a-close:hover > .icon,
.a-selected:hover > .icon,
.a-close-small:hover > .icon,
.a-close:focus > .icon,
.a-selected:focus > .icon,
.a-close-small:focus > .icon { opacity: 0.5; }


/* Apostrophe Drag Button
-------------------------------------*/

.a-btn.a-drag { cursor: move; }

.a-btn.a-drag > .icon { background-image: url(../images/a-icon-drag-simple.png); }

.alt .a-btn.a-drag > .icon,
.a-btn.a-drag.alt > .icon { background-image: url(../images/a-icon-alt-drag-simple.png); }


/* Apostrophe Arrows
-------------------------------------*/

.a-arrow-btn { float: left; cursor: pointer; }

.a-arrow-btn,
.a-arrow-up, 
.a-arrow-down
.a-arrow-left.no-label,
.a-arrow-right.no-label { text-indent: -9999px; padding: 0; width: 20px; height: 20px; background-position: 50% 50%; }

.a-arrow-btn.a-arrow-left { background-image: url(../images/a-icon-arrow-left-solid-simple.png); }
.a-arrow-btn.a-arrow-right { background-image: url(../images/a-icon-arrow-right-solid-simple.png); }

.alt .a-arrow-btn.a-arrow-left, .a-arrow-btn.a-arrow-left.alt { background-image: url(../images/a-icon-arrow-left-solid-simple-alt.png); }
.alt .a-arrow-btn.a-arrow-right, .a-arrow-btn.a-arrow-right.alt { background-image: url(../images/a-icon-arrow-right-solid-simple-alt.png); }

.a-arrow-btn.a-arrow-left:hover,
.a-arrow-btn.a-arrow-right:hover { opacity: 0.5; }

.a-arrow-btn.a-arrow-left.thin { background-image: url(../images/a-icon-arrow-left-thin-simple.png);
width: auto;
padding: 0 4px 0 20px;
text-indent: 0;
}

.a-arrow-btn.a-arrow-right.thin {
background-image: url(../images/a-icon-arrow-right-thin.png);
width: auto;
padding: 0 4px 0 20px;
text-indent: 0;
}

.a-btn.a-arrow-left.thin:hover,
.a-btn.a-arrow-right.thin:hover { background-position: 0 center !important; }


/* Apostrophe Toggle Button
-------------------------------------*/

.a-btn.a-toggle-btn
{
	-moz-user-select: none;
	user-select: none;
}

.a-btn.a-toggle-btn.option-1 .option-1,
.a-btn.a-toggle-btn.option-2 .option-2 { display: block; }

.a-btn.a-toggle-btn.option-1 .option-2,
.a-btn.a-toggle-btn.option-2 .option-1 { display: none; }

.a-ui .a-btn.a-toggle-btn.icon > .icon { 
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
height: 10px;
width: 10px;
margin: -6px 4px 0;
border: 1px inset rgba(0,0,0,0.20);
}

.a-ui .a-btn.a-toggle-btn.icon.option-1 > .icon
{
	background-color: #31AB64;
	background-image: -moz-radial-gradient(#31AB64 0%, #008040 100%);
	background-image: -webkit-gradient(radial, color-stop(0, #0f0), color-stop(1, #008040));
}
.a-ui .a-btn.a-toggle-btn.icon.option-2 > .icon
{
	background-color: #F66;
	background-image: -moz-radial-gradient(center bottom, #F66 0%, #f00 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, red), color-stop(1, #F66));
}

/* a-sidebar-button is the wide button for Blog / Events at the top of the sidebar */
.a-ui .a-btn.a-sidebar-button { width: 99%; padding: 0 !important; text-align: center;}
.a-ui .a-btn.a-sidebar-button .label { width: 100%; text-align: center; display: block; position: absolute;}
.a-ui.a-sidebar-button-wrapper { margin: 0 0 10px 0;}

.a-ui .a-link, .a-link { padding: 1px 0; white-space: normal; height: auto; line-height: 16px; }

.a-ui .a-link.icon { padding: 1px 20px 1px 0; }
.a-ui .a-tag .a-link.icon,
.a-ui .a-popular.a-tag .a-link { padding: 1px 18px 1px 0; }
.a-ui .a-link.icon > .icon { left: auto; right: 0; }

/*.a-ui .a-link.a-tag { padding: 1px 18px 1px 0; }*/
.a-ui .a-tag > .a-tag-count { left: 100%; line-height: 18px; opacity: 0.65; width: auto; padding: 0 4px; }

.a-ui .a-btn.icon.no-icon > .icon, 
.a-ui.a-btn.icon.no-icon > .icon, 
.a-ui .a-link.icon.no-icon > .icon, 
.a-ui.a-link.icon.no-icon > .icon 
{
  background:none;
  text-indent:0;
  text-align:center;
  line-height:20px;
}

.a-ui .a-btn.mini.no-icon > .icon, .a-ui.a-btn.mini.no-icon > .icon, .a-ui .a-link.mini.no-icon > .icon, .a-ui.a-link.mini.no-icon > .icon { line-height: 16px; }
.a-ui .a-btn.big.no-icon > .icon, .a-ui.a-btn.big.no-icon > .icon, .a-ui .a-link.big.no-icon > .icon, .a-ui.a-link.big.no-icon > .icon { line-height: 22px; }