/* 34. aUI & Admin Colors - Default
-------------------------------------*/

/* Apostrophe Mark - Color */
.a-ui.a-global-toolbar .the-apostrophe { background-color: rgb(255,150,0); background-color: rgba(255,150,0,0.75); }

/* Apostrophe Button - Color */
.a-ui .a-btn,
.a-ui .a-submit,
.a-ui .a-cancel
{ 
	text-shadow: 0 -1px 0px rgba(0,0,0,0.20);
	background-color: rgb(255,150,0);
	background-color: rgba(245,135,0,0.85);	
	background-image: -moz-linear-gradient(center bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(171,171,171,0.1)), color-stop(1, rgba(237,237,237,0.6)));
	border:1px solid rgba(20,20,20,0.2);
}

.a-ui .a-btn.lite { color: #00f;}

.a-media-footer-button:hover
{
	background-color: rgb(255,150,0);
	background-color: rgba(255,150,0,0.75);	
}

/* Apostrophe Button - Border Radius */
.a-btn, .a-submit, .a-cancel, .a-admin-list th a { -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }

/* Apostrophe Button - Hover & Focus */
.a-btn:hover,
.a-submit:hover,
.a-btn:focus,
.a-submit:focus,
.the-apostrophe:hover
{ 
color: #fff !important;
text-shadow: 0 -1px 0px rgba(0,0,0,0.20);
text-decoration: none !important;
background-color: #999 !important;
}

.a-cancel:hover,
.a-cancel:focus,
{ 
color: #fff !important;
text-shadow: 0 -1px 0px rgba(0,0,0,0.20);
background-color: #666 !important;
text-decoration: none !important;
}


/* Apostrophe Button - Active */
.a-btn:active
{ 
color: #eee !important;
text-shadow: 0 -1px 0px rgba(0,0,0,0.20);
background-color: #111 !important;
text-decoration: none !important;
}

/* Apostrophe Button - Alternative Color */
.a-btn.alt,
.a-submit.alt,
.a-cancel.alt
{
color: #444;
text-shadow: 0 1px 0px rgba(255,255,255,255.20);
}

/* Apostrophe Button - Alternative Hover & Focus */
.a-btn.alt:hover,
.a-submit.alt:hover,
.a-cancel.alt:hover,
.a-btn.alt:focus,
.a-submit.alt:focus,
.a-cancel.alt:focus
{ /* Button Styles */
background-color: #E0E0E0;
}

/* Apostrophe Button - Alternative Border Color */
.a-btn.alt, .a-submit.alt, .a-cancel.alt, .a-history-browser { border:1px solid rgb(255,150,20) }

/* Apostrophe Admin Link Color */
.a-attribution a,
.a-admin-content a,
.a-global-toolbar .a-logged-in-user span,
#a-personal-settings-heading span
{
color: rgb(255,150,0);
}