
/*  Subnav Wrapper and Bundled Subnav Navigation
-------------------------------------*/

.a-subnav-wrapper
{
	width: 200px;
	margin: 0 40px 0 0;
	float:left;
	display:inline;
	position:relative;
}

.a-subnav-inner
{
	width: 180px;
	padding: 10px;
	float: left;
	display: inline;
	position: relative;
	clear: both;
}

.a-subnav-section
{
color: #222;
text-decoration: none;
float: left;
clear: both;
width: 100%;
margin: 0 0 10px 0;
}

.section h4
{
float: left;
width: auto;
clear: both;
margin-bottom: 5px;
}

.section.categories h4
{
	width: auto;
	line-height: 20px;
}


.a-subnav-wrapper .a-search-form
{
margin: 10px 0;
float: left;
display:inline;
width: 178px;
}

.a-subnav-wrapper .a-search-form .a-search-field
{
width: 150px;
}

.a-subnav-wrapper .a-filter-options .a-filter-option a 
{
float: left;
width: 100%;
clear: both;
}

.a-subnav-wrapper .a-filter-options .a-filter-option a
{
float: left;
clear: both;
line-height: 20px;
height: 20px;
width: auto;
}

.a-subnav-wrapper a.selected
{
float: left;
display: inline;
clear: both;
line-height: 20px;
padding-right: 20px;
background: url(/apostrophePlugin/images/a-icon-close.png) top right no-repeat;
}

.a-subnav-wrapper a.selected:hover { background-position: 100% 100%; }

.a-subnav-wrapper hr
{
	float: left;
	clear: both;
	position: relative;
	display: inline;
	margin: 10px 0;
	width: 100%;
	height: 1px;
	border: none;
	background: #999;
}

.a-nav-subnav .a-nav-item
{
float: left;
width: 100%;
clear: both;
position: relative;
line-height: 20px;
margin-bottom: 5px;
}

.a-nav-subnav .a-nav-item.last
{
	margin-bottom: 0;
}

.a-nav-subnav .a-nav-item a
{
	float: left;
	width: 155px;
	height: 100%;
	padding: 0 20px 0 5px;
}

/* Admin Sidebar ==================== */

.a-admin-sidebar
{
float: left;
width: 200px;
margin: 0;
background-color: #e0e0e0;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.20);
-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.20);
box-shadow: 0 0 6px rgba(0, 0, 0, 0.20);
border: 1px solid #ccc;
overflow: hidden;
}

.a-admin .a-admin-sidebar a,
.a-media .a-admin-sidebar a
{
color: #000 !important;
text-decoration: underline;
}

.a-admin-sidebar a:hover
{
color: #666 !important;
}

.a-admin-sidebar hr
{
display: block;
width: 100%;
height: 2px;
border: 0;
background: rgba(255,255,255,0.35);
border-top: 1px inset rgba(0,0,0,0.1);
border-right: 1px inset rgba(0,0,0,0.1);
margin: 10px 0;
}

.a-admin-sidebar .a-controls
{
margin: 5px 0 0;
}

.a-admin-sidebar .a-time-wrapper input,
.a-admin-sidebar .a-date-wrapper input
{
width: 75px;
}

.a-admin-sidebar hr,
.a-admin-sidebar .section,
.a-admin-sidebar .option,
.a-admin-sidebar .section .a-multiple-select-list,
a.a-sidebar-toggle.post-editors-toggle
{
position: relative;
float: left;
clear: both;
width: 100%;
}

a.a-sidebar-toggle.post-editors-toggle
{
margin: 5px 0 0;
}

.a-admin-sidebar .section .post-editors-options.option.show-editors
{
display: block;
margin: 0;
}

.a-admin-sidebar .section
{
font-size: 11px;
}

.a-admin-sidebar .section h4
{
float: left;
margin-bottom: 5px;
}

.a-admin-sidebar .section h4 span
{
color: #999;
}

.a-admin-sidebar a.a-btn.a-publish-post span
{
background: none !important;
}

.a-admin-sidebar .post-published.published span.draft,
.a-admin-sidebar .post-published.draft span.published
{
	display: none;
}

.a-admin-sidebar .post-published.draft span.draft,
.a-admin-sidebar .post-published.published span.published
{
	display: block;
}

.a-admin-sidebar .section.author .author_id.option,
.a-admin-sidebar .section.author #a_blog_item_editors_list
{
display: block;
float: right;
margin: 0 0 0 5px;
width: 120px;
clear: none;
}

.a-admin-sidebar select
{
font-family: Arial, sans-serif;
border: 1px solid #ddd;
padding: 2px;
}

.a-admin-sidebar .section.event-date div.start_date
{
	margin-bottom: 5px;
}

.a-admin-sidebar .section.event-date div.start_date,
.a-admin-sidebar .section.event-date div.end_date
{
float: left;
width: 100%;
clear: both;
}


.a-admin-sidebar .section.categories select
{
width: 100%;
display:inline;
clear: both;
}

.a-admin-sidebar .section.categories .edit-categories
{
	float: right;
	padding: 2px 0;
}

.a-admin-sidebar .a-multiple-select-list
{
margin: 10px 0;
font-size: 12px;
}

.a-admin-sidebar .section.categories .a-multiple-select-item span,
.a-admin-sidebar .section.tags a
{
font-size: 11px;
}

.a-admin-sidebar input.add-text
{
float: left;
font-family: Arial, sans-serif;
border: 1px solid #ddd;
padding: 3px 0px;
border: 1px solid rgba(0,0,0,0.2);
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
width: 104px
}

.a-admin-sidebar input.add-text.tag-input
{
	margin-top: -1px;
	width: 120px;
}

.a-admin-sidebar .section.tags .a-admin-form-field-tags
{
margin-top: 10px;
}

.a-admin-sidebar .section.tags #blog-tag-list
{
margin-top: 5px;
}

.a-admin-sidebar .section.author select,
.a-admin-sidebar .section.template select
{
max-width: 94px;
float: right;
font-family: Arial, sans-serif;
border: 1px solid #ddd;
padding: 2px;
}

.a-admin-sidebar .section.comments label,
.a-admin-sidebar .section.comments input
{
line-height: 20px;
float: right;
}

.a-admin-sidebar .section.comments h4,
.a-admin-sidebar .section.comments .allow_comments_toggle
{
float: left;
width: 100%;
clear: both;
}

.a-admin-sidebar .section.comments .allow_comments_toggle span
{
color: inherit;
display: none;
}

.a-admin-sidebar .section.comments .allow_comments_toggle.enabled span.enabled,
.a-admin-sidebar .section.comments .allow_comments_toggle.disabled span.disabled
{
display: inline;
}

.a-admin-sidebar .section.comments .allow_comments_toggle.disabled span.disabled
{
color: #600;
}

.a-admin-sidebar .section.delete a.a-btn
{
	font-size: 11px !important;
	line-height: 20px;
}

.a-admin-sidebar .option
{
display: none;
margin: 10px 0 0;
}


/* Media Engine Layout
-------------------------------------*/
.a-media-library,
.a-media-selection,
.a-media-controls,
.a-media-items,
.a-media-footer
{
position: relative;	
float: left;
display: inline;
width: 100%;
}

.a-media-selection,
.a-media-controls,
.a-media-items,
.a-media-footer
{
width: 720px;
float: left;
margin-bottom: 30px;
}

.a-media-row
{
float: left;
display: inline;
margin-bottom: 60px;
width: 100%;
}


/* Media Engine Items
-------------------------------------*/
.a-media-item
{
padding: 0;
float: left;
display: inline;
position: relative;
width: 340px;
margin-bottom: 20px;
padding: 0;
list-style: none;
}
.a-media-items.four-up .a-media-item,
.a-media-items.four-up .a-media-item img
{
  width: 165px;
  margin-bottom: 0px;
}

.a-media-items.four-up .a-media-item:hover img
{
/*	position: absolute;*/
/*	width: auto;*/
/*	z-index: 999;*/
}

.a-media-items.four-up .a-media-item.nlast
{
  margin-right: 20px;
}

.a-media-items.four-up .a-media-row
{
  margin-bottom: 10px;
}

.a-media-items.thumbnail .a-media-item
{
  width: 85px;
  margin-bottom: 0px;
}

.a-media-items.thumbnail .a-media-item.nlast
{
  margin-right: 5px;
}

.a-media-items.thumbnail .a-media-row
{
  margin-bottom: 10px;
}

.a-media-item-thumbnail,
.a-media-item-source,
.a-media-item-title,
.a-media-item-description,
.a-media-item-meta
{
float: left;
display: inline;
clear: both;
width: 100%;
position: relative;
margin: 0 0 10px 0;
}


.a-media-item-thumbnail,
.a-media-item-image
/* if there is no thumbnail the title sits next to the icon*/
{
	width:auto !important;
}

.a-media-item-title.no-thumbnail
{
	width:285px;
	clear:none;
	margin:24px 0 0 15px;
}

.a-media-item-link span
{
float: left;
width: 98px;
line-height: 22px;
}

.a-media-item-link input
{
float: right;
width: 214px;
border: 1px solid #666;
padding: 2px 3px;
font: 11px Arial, Sans-serif;
}

.a-media-item-title h3 a { text-decoration: none; font-size: 18px; }


/* Media Engine Selections
-------------------------------------*/
.a-media-select
{
padding: 10px;
margin: 0 0 0 -1px;
background-color: #efefef;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
border: 1px solid #ccc;
overflow: auto;
-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.20);
-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.20);
box-shadow: 0 0 6px rgba(0, 0, 0, 0.20);
}

.a-media-selection-list-item .a-media-selected-item-drag-overlay,
.a-media-selection-list-item .a-media-selected-item-overlay
{
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: none;
}

.a-media-selection-list-item.over .a-media-selected-item-drag-overlay
{
background: url(/apostrophePlugin/images/a-icon-drag-simple.png) center center no-repeat;
z-index: 299;
}

.a-media-selection-list-item.over .a-media-selected-item-overlay
{
background-color: #000;
z-index: 199;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;

}

.a-media-selection-list-item img
{
float: left;
}


.a-subnav-wrapper .a-search-field { width: 100%; } /* main.css*/

.a-search-form input.submit:hover { background-position: 0 -20px; cursor: pointer; }

a#a-media-search-remove
{
float: left;
display: none;
position: absolute;
top: 0;
right: 0;
width: 20px;
height: 20px;
text-indent: -9999;
background: url(/apostrophePlugin/images/a-icon-close.png) top left no-repeat;
color: #fff;
overflow: hidden;
text-indent: -9999px !important;
}

a#a-media-search-remove:hover { background-position: 0 100%; }

.a-search-video
{
width: 222px;
font-family: Arial, sans-serif;
font-size: 12px;
padding: 0 3px;
float: left;
clear: both;
margin: 5px 0;
background: #fff;
border: 1px solid #ccc;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}

.a-search-field {	float: left; width: 100%; clear: both; }

.a-ui.a-media-upload-controls {	margin-top: 5px; }

/*.a-media-controls .a-media-upload-controls,
.a-media-controls .a-media-slideshow-controls
{
clear: both;
}
*/

.a-media-selection h3 {	margin: 0 0 10px 0; }

.a-media-controls .a-constraints { font-size: 110%; padding-bottom: 10px; }

.a-media-controls h3 .a-cancel
{
	background: none !important;
	padding: 0 !important;
	color: #900 !important;
	border: 0;
	text-shadow: none;
	float: none;
	font-size: inherit;
	font-family: inherit;
}

.a-media-controls h3 .a-cancel:hover
{
	color: #333 !important;
}


#a_media_item_media_categories_list .a-multiple-select-list
{
	width: 214px;
	margin: 10px 0 0 120px;
}



.a-media-library #a-media-edit-form,
.a-media-library .a-media-item-edit-form
{
float: left;
display: inline;
position: relative;
margin-bottom: 30px;
width: 50%;
}

.a-media-library .a-form-row.categories .a-form-field
{
	float:none;
}

.a-media-library .a-form-row.permissions .radio_list
{
float: left;
display: inline;
position: relative;
}

.a-media-library .a-form-row.permissions .radio_list li
{
float: left;
display: inline;
position: relative;
width: 120px;
}

.a-media-library .a-form-row.permissions .radio_list li label
{
position: absolute;
top: 0;
left: 25px;
}

.a-media-library .a-form-row.permissions .radio_list li input
{
float: left;
}

.a-media-item-edit-form .a-form-row.help
{
	width:340px;
}

.a-media-library .a-form-row input[type="text"],
.a-media-library .a-form-row select,
.a-media-library .a-form-row textarea
{
float: left;
width: 214px;
}

.a-media-library .a-form-row textarea
{
	height: 150px;
}

.a-media-library .a-form-row textarea
{
line-height: 1.6;
}

.a-media-library .a-form-row select
{
	width: auto;
	min-width: 214px;
	max-width: 214px;
}

.a-media-library .a-form-row.image
{
position: relative;
}

.a-media-library .a-form-row.image input
{
position: absolute;
top: 10px;
left: 10px;
}


.a-media-item-edit-form .a-options-container,
.a-media-edit-form .a-options-container
{
	display: inline;
	position: relative;
	float: left;
	clear:none;
	margin-right:5px;
}

.a-media-item-edit-form .a-options-container.show-options .a-options,
.a-media-edit-form .a-options-container.show-options .a-options
{
	display:inline !important;
}

.a-media-library .a-form-row.replace
{
	width:340px;
}

.a-form-row.replace .a-replace,
.a-form-row.replace .a-delete
{
	clear:none;
	color:#000 !important;
}

.a-form-row.replace a:hover.a-replace,
.a-form-row.replace a:hover.a-delete,
.a-form-row.replace a:focus.a-replace,
.a-form-row.replace a:focus.a-delete
{
	background-color: #fff !important;
	color:#666 !important;
}

.a-media-library .a-media-upload-controls,
.a-media-library .a-media-upload-form-footer,
.a-media-library .a-media-edit-controls,
.a-media-library .a-media-edit-footer
{
clear: both;
float: left;
margin-bottom: 10px;
}

.a-media-library ul.a-controls.a-media-form-footer
{
	width: 340px;
}

.a-media-library ul.a-controls.a-media-form-footer .a-controls-item.cancel
{
display: block;
}

.a-media-library ul.a-controls.a-media-form-footer .a-controls-item.delete
{
float: right;
}

.a-media-library .a-form-row.newfile .a-btn.a-close
{
float: left;
}

.a-media-library .a-form-row.description
{
width: 343px;
}

#a-media-video-search-heading,
#a-media-video-add-by-url-heading,
#a-media-video-add-by-embed-heading,
#a-media-video-search-form,
#a-media-video-add-by-url-form,
#a-media-video-add-by-embed-form,
#a-media-video-search-results-container
{
display: none;
position: relative;
clear: both;
}

#a-media-video-search-form
{
float: left;
}

#a-media-video-search-form.a-search-form input.a-search-field
{
float: left;
position: relative;
width: 220px;
height: 20px;
margin-bottom: 10px;
}

#a-media-video-search-form .a-form-row.submit
{
position: absolute;
top: 0;
left: 240px;
width: 100px;
padding: 0;
}

#a-media-video-add-by-url-form .a-form-row
{
padding: 0;
margin: 0;
}

#a-media-video-add-by-url-form .a-form-row.example
{
position: relative;
float: left;
width: 100%;
}

.a-form-row.example p
{
font-size: 11px;
color: #888;
padding: 5px 0 15px 0;
}

#editing-disabled
{
display: none;
}

.a-media-video-heading
{
float: left;
display: inline;
position: relative;
font-size: 14px;
}


.a-media-thumb-link
{
position: relative;
float: left;
}

a:hover.a-media-thumb-link
{
	text-decoration: none;
}

.a-media-play-btn
{
position: absolute;
z-index: 10;
width: 100%;
height: 100%;
background: url(/apostrophePlugin/images/a-media-play-btn.png) no-repeat 50% 50%;
}

.a-media-pdf-btn
{
position: absolute;
z-index: 10;
width: 100%;
height: 100%;
background: url(/apostrophePlugin/images/a-media-pdf-btn.png) no-repeat 50% 50%;
}

.a-media-icon-as-thumbnail
{
	display:block;
	padding-top: 22px;
}

.a-media-item-source .a-media-icon-as-thumbnail
{
	padding-top: 66px;
}

.a-media-thumb-link img
{
position: relative;
z-index: 0;
border: 0;
}

/* non-image filetype icon styles ====================================== */
span.a-media-type
{
	display: block;
	position: relative;
	float: none;
	height:50px;
	width:40px;
	background-image: url(/apostrophePlugin/images/a-media-icon.png);
	background-repeat: no-repeat;
}

span.a-media-type b
{
	position:absolute;
	bottom:7px;
	right:-5px;
	width:auto;
	padding:2px 5px;
	background-color: #333;
	font-size: 10px;
	line-height: 10px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	-moz-border-radius: 2px;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	border-radius: 2px;
/*	text-shadow: 0 1px 1px rgba(0,0,0,.5);*/
}

span.a-media-type.pdf b { background-color:#F00; }
span.a-media-type.doc b, span.a-media-type.docx b { background-color:#33F; }
span.a-media-type.xls b, span.a-media-type.xlsx b, span.a-media-type.xltx b { background-color:#393; }
span.a-media-type.ppt b, span.a-media-type.pptx b, span.a-media-type.sldx b, span.a-media-type.ppsx b, span.a-media-type.potx b { background-color:#F60; }

.a-media-item-content
{
	float: left;
	clear: both;
	display: inline;
	position: relative;
	width: 100%;
	padding: 0;
}

.a-media-item-content li
{
position: relative;
float: left;
display: inline;
width: 100%;
}

.a-media .a-media-selected-overlay
{
position: absolute;
z-index: 699;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: #fff;
cursor: default !important;
}

.subnav-categories-header,
#a-media-edit-categories
{
	float: left;
	width: 100%;
	clear: both;
}

#a-category-sidebar-list,
#a-media-categories-list,
#a-media-categories-list .category,
.a-category-sidebar-selected-categories,
.a-tag-sidebar-selected-tags
{
	float: left;
	clear: both;
	position: relative;
	display: inline;
	margin: 0 0 5px 0;
	padding: 0;
	width: 100%;
	line-height: 20px;
}

#a-category-sidebar-list li
{
	list-style: none outside;
}

#a-media-categories-list .category li.name
{
	float: left;
	margin: 0 5px 0 0;
	white-space: nowrap;
}

#a-media-categories-list .category li.actions
{
	float: right;
}

#a-media-category-form
{
	float: left;
	clear: both;
	display: inline;
	width: 100%;
	margin-top: -5px;
}

#a-media-category-form .a-form-row
{
	margin: 0;
}

#a-media-category-form label
{ /* This is temporary, label should be output by form lib */
	display: none;
}

#a-media-category-form .hide-description
{ /* This is temporary, description should be off by default, enabled in app.yml */
	display: none;
}

#a-media-category-form .a-form-row,
#a-media-category-form .a-form-row input
{
	float: left;
	clear: none;
	width: 133px;	
}

#a-media-category-form input#a_media_category_name
{
	border: none;
	margin-left: -4px;
	background: rgba(255,255,255,0.75);
}

#a-media-category-form .a-form-row.submit
{
	width: auto;
	float: right;
	clear: none;
}

#a-media-category-form .a-form-row.submit input
{
	width: 20px;
	margin-right:2px;
}

.a-media-no-categories-message
{
	overflow: hidden;
	clear: both;
}

#media-library-back-button
{
	clear: both;
	margin: 16px 0 0;
	height:24px;
}


/* 22. Media Engine - Video Search
-------------------------------------*/

#a-media-video-search-results,
#a-media-plugin-search-results
{
width: 720px;
float: left;
}

#a-media-video-search-results li
{
float: left;
}

#a-media-video-search-results li a
{
display: block;
}

#a-media-video-search-pagination li
{
display: inline;
margin-right: 20px;
}

.a-media-search-select
{
display: none;
}

#a-media-video-search-results li
{
padding: 10px 0;
margin: 0 20px 0 0;
float: left;
}

#a-media-video-search-results li.right-side
{
margin-right: 0;
}

#a-media-video-search-results a
{
margin-bottom: 10px;
}

#a-media-search-loading
{
padding-top: 10px;
padding-bottom: 10px;
}


/* Media Engine - Cropping
-------------------------------------*/
#a-media-selection-wrapper
{
	display: inline;
	position: relative;
	float: left;
	width:700px;
	margin-bottom: 20px;
/*padding:10px;
	background-color: #555;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	box-shadow:inset 0 0 10px #000000;
  -moz-box-shadow:inset 0 0 10px #000000;
  -webkit-box-shadow:inset 0 0 10px #000000;*/
}

#a-media-selection-list
{
display: block;
overflow: hidden;
position: relative;
width:690px;
margin-left: -10px;
}

.a-ui .a-media-selection-placeholder
{
	margin-left: 10px;
	float: left;
	width: 80px;
	height: 50px;
	border: 2px dashed #222;
	padding: 10px;
	color: #222;
}

.a-media-selection-list-item
{
float: left;
margin: 0 0 0 10px !important;
cursor: move;
position: relative;
background: url(/apostrophePlugin/images/a-icon-loader.gif) center center no-repeat;
border: 2px solid #222;
}

.a-thumbnail-container
{
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.cropping-now
{
	border: 2px solid #ddd;
}

.a-media-selection-list-item .a-media-selected-item-drag-overlay,
.a-media-selection-list-item .a-media-selected-item-overlay
{
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: none;
}

.a-media-selection-list-item.over .a-media-selected-item-drag-overlay
{
background: url(/apostrophePlugin/images/a-icon-drag-simple.png) center center no-repeat;
z-index: 299;
}

.a-media-selection-list-item.over .a-media-selected-item-overlay
{
background-color: #000;
z-index: 199;
}

.a-media-selection-list-item img
{
float: left;
}

#a-media-selection-preview
{
	display:inline;
	float:left;
	width:100%;
}

li.a-media-selection-preview-item {
  display:none;
	position:relative;
	width:auto;
	height:auto;
}
li.a-media-selection-preview-item.current {
  display: block !important;
}

li.a-media-selection-preview-item .jcrop-holder {
  margin-bottom:28px;
}

.a-ui ul.a-media-crop-controls
{
	position: absolute;
	display: none;
	bottom: -29px;
}

.a-ui .a-crop-workspace
{
	overflow: hidden;
	display: none;
	margin: 10px 0;
	padding: 10px;
	background-color: #222;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	box-shadow:inset 0 0 10px #000000;
  -moz-box-shadow:inset 0 0 10px #000000;
  -webkit-box-shadow:inset 0 0 10px #000000;
}

.a-crop-workspace h4
{
	color:#ddd;
	margin-bottom:10px;
}

.a-crop-workspace h4 a
{
	color:#ddd;
	text-decoration: underline;
}



/* Blog Engine Styles
-------------------------------------*/

#a-blog-main,
.a-blog-item,
.a-blog-item-title,
.a-blog-item-meta,
.a-blog-item-tags,
.a-blog-item-media,
.a-blog-item-body,
.a-blog-item-excerpt-container
{
	float: left;
	clear: both;
	display: inline;
	position: relative;	
	width: 100%;
}

.a-blog-main hr
{
	float: left;
	width: 100%;
	margin-bottom:10px;
	height: 1px;
	border: none;
	background: rgba(0,0,0,0.125);
}

.a-blog-item .a-area
{
	margin-top:0;
}

.a-blog-item-title,
.a-blog-item-meta,
.a-blog-item-tags,
.a-blog-item-media,
.a-blog-item-body,
.a-blog-item-excerpt
{
	margin-bottom: 10px;
}

.a-blog-item-excerpt-container { margin-bottom:20px; }

.a-blog-item-body p {	margin-bottom: 10px; }

.a-blog-item-tags li { float: left;	margin: 0 5px 0 0; }

.a-blog-item-meta
{
	font-size: 11px;
	color: #888;
	margin: 0;
	list-style-position: outside;
}

.a-blog .a-controls.a-blog-post-controls { margin: 10px 0 5px 0 !important; }

.a-blog ul.a-slideshow-controls
{
	border:medium none;
	display:inline;
	float:left;
	height:20px;
	margin-right:1px;
	position:absolute;
	right:0;
	top:-24px;
	width:auto;
}

.addthis_toolbox
{
	float:left;
	width: auto;
	clear: both;
	padding: 5px;
	background: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;	
}

.aEvent .addthis_toolbox { margin-left: 140px; font-size: 11px; color: #999; }

.a-event-date-range span { float: left;	width: 100%; color: #222; }

.a-event-date-range .end_date { margin-top: 5px; }



/* 25. Shared Tag Sidebar
-------------------------------------*/

.a-tag-sidebar
{
float: left;
width: 100%;
clear: both;
margin: 20px 0 0 0;
}

.a-tag-sidebar h3,
.a-tag-sidebar ul
{
float: left;
width: 100%;
clear: both;
}

.a-tag-sidebar ul
{
list-style: none;
list-style-position: outside !important;
}

.a-tag-sidebar ul li
{
margin: 0;
}

.a-tag-sidebar ul li.selected
{
position: relative;
float: left;
width: 100%;
line-height: 20px;
margin-bottom: 5px;
}

.a-tag-sidebar ul li.selected .a-tag-sidebar-tag
{
display: inline;
float: left;
}

.a-tag-sidebar-list,
.a-blog-selected-tag
{
float: left;
width: 100%;
margin-bottom: 10px;
}
 
.a-tag-sidebar-list li { margin: 0 0 5px 0; }

.a-tag-sidebar .a-tag-sidebar-tag-count { color: #fff; }

.a-tag-sidebar .a-tag-sidebar-title { float: left; 	width: 100%; }

.a-subnav-section .a-tag-sidebar-title.all-tags,
.a-tag-sidebar .a-tag-sidebar-title.all-tags
{
background: url(/apostrophePlugin/images/a-icon-arrow-toggle.png) -6px -40px no-repeat;
cursor: pointer;
text-indent: 16px;
line-height: 20px;
width: 100%;
position: relative;
margin: 10px 0 5px 0;
}

.a-subnav-section .a-tag-sidebar-title.all-tags.open,
.a-tag-sidebar .a-tag-sidebar-title.all-tags.open { background-position: -6px -20px; }

.a-subnav-section .a-tag-sidebar-title.all-tags.over,
.a-tag-sidebar .a-tag-sidebar-title.all-tags.over { color: #333; background-position: -6px 0px; }

.a-subnav-section .a-tag-sidebar-title.all-tags.open.over,
.a-tag-sidebar .a-tag-sidebar-title.all-tags.open.over { background-position: -6px -60px; }

.a-tag-sidebar-list.all-tags { display: none; }



/* 26. Shared Tag Suggestions
-------------------------------------*/

div.tag-suggestions
{
position: relative;
display: block;
float: left;
clear: both;
width: 100%;
margin: 0;
z-index: 9999;
font-size: 11px;
width: 100%;
height: 1px;
}

.tubes-tags div.tag-suggestions,
.a_admin_form_field_tags div.tag-suggestions
{
	width: 360px;
}

#a-media-edit-form div.tag-suggestions
{
	margin-left: 120px;
	width: 222px;
}

div.tag-suggestions .tag-spacer
{
	display: none;
}

div.tag-suggestions ul
{
position: absolute;
top: 0;
left: 0;
right: 0;
float: left;
width: 100%;
z-index: 999;
}

div.tag-suggestions li
{
float: left;
clear: both;
width: 100%;
margin: 0;
visibility: hidden;
}
	
	
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}
	
	
div.tag-suggestions li a,
div.tag-suggestions li a:link,
.ac_results .ac_even,
.ac_results .ac_odd
{
float: left;
display: block;
visibility: visible;
width: 100%;
line-height: 20px;
text-indent: 4px;
background: rgba(0,0,0,0.65);
color: #fff !important;
text-decoration: none !important;
font-size: 11px;
}

div.tag-suggestions li a:hover,
.ac_results .ac_over
{
background-color: #000;
color: #fff !important;
text-decoration:none;
cursor: pointer;
}

.ac_results{
z-index: 9999;
font-size: 11px;
border: none;
min-width: 120px;
}

.ac_results ul{
overflow: visible !important;
}

.ac_results li
{
font-family: arial, sans-serif;
}

.ac_results .ac_even,
.ac_results .ac_odd
{
white-space: nowrap;
padding: 0 4px;
overflow: hidden;
}

/* New Taggable Widget */

.assigned-tags,
.add-tags,
.popular-tags
{
	float: left;
	width: 100%;
	clear: both;
	margin:0 0 5px 0;
}

.assigned-tags h5,
.popular-tags h5
{
	margin-bottom: 5px;
}

.assigned-tags ul
{
	display: block;
	float: left;
	width: 100%;
	clear: both;
	position: relative;
}

.assigned-tags li
{
	display: inline-block;
	float: left;
	position: relative;
	margin: 0 5px 0 0;
}

.assigned-tags li span
{
	float: left;
	display: block;
	position: relative;
	line-height: 20px;
	padding-right: 20px;
	white-space: nowrap;
	margin-right: -20px;
}

.add-tags .a-submit
{
	margin-left: 2px;
	float: right;
}

.add-tags-help
{
	float: left;
	width: 100%;
	clear: both;
	margin: 5px 0;
	color: #999;
}


/* Shared Admin Navigation */

.a-admin-title { float: left; margin-right: 20px; }

.a-ui.a-admin-controls { width: auto; clear: none; }

.a-admin-header
{
width: 100%;
overflow: hidden;
clear: both;
background: none;
background: transparent url(/apostropheBlogPlugin/images/a-blog-td-bg.png) 0 100% repeat-x;
padding-bottom: 20px;
margin: 0 0 12px 0;
z-index: 199;
}

.a-blog.index  .a-admin-header
{
	background: none;
	padding: 0;
	margin: 0 0 10px 0;
}