
/* Apostrophe Form Styles
-------------------------------------*/
.a-form-row
{
position: relative;
float: left;
display: inline;
clear: both;
width: 100%;
margin: 10px 0px 10px 0;
}

.a-form-row label
{
float:left;
text-align: left;
font-weight: normal;
width: 120px;
line-height: 20px;
}

.a-form-row input[type="text"],
.a-form-row input[type="password"],
.a-form-row select,
.a-form-row textarea
{
font-size: 12px;
-moz-border-radius:3px 3px 3px 3px;
border:1px solid #ddd;
float:left;
font-family:Arial,sans-serif;
padding: 2px 3px;
}

.a-form-row.submit
{
margin-left: 120px;
}

.a-form-row.submit .a-btn { height: auto; }

.a-form-row .a-form-field,
.a-form-row .a-form-error,
.a-form-row .a-form-help-text { float: left; }

.a-form-row.help,
.a-form-row .help,
.a-form-row .a-form-help-text
{
float: left;
clear: both;
font-size: 11px;
color: #888;
}

.a-form-row .error_list
{
width: 100%;
float: left;
margin: 0;
font-size: 11px;
color: #900;
}

/* Make radio buttons in standard Symfony widgets usable 
	(I styled them horizontally here, if you hate this give me a
	more specific class in the slideshow slot and don't break it please) */
	
.a-ui.a-options.a-slot-form .a-form-row .error_list li
{
	float: left;
	width: 100%;
	clear: both;
	margin: 5px 0;
}

.a-ui.a-options.a-slot-form .a-form-row .a-form-field .radio_list li
{
	float: left;
}

.a-ui.a-options.a-slot-form .a-form-row .a-form-field .radio_list li label
{
	padding-left: 10px;
	padding-right: 10px;
	width: auto;
}

.a-ui.a-options.a-slot-form .a-form-row .a-form-field .radio_list input
{
	float: left;
}

/* Apostrophe Multiple Select (aControls.js)
-------------------------------------*/

.a-multiple-select-list
{
	float: left;
	clear: both;
	display: block;
	position: relative;
	width: 100%;
}

.a-multiple-select .add
{
	position: relative;
	float: left;
	clear: both;
	width: 100%;
	margin: 5px 0;
}

.a-multiple-select .add input 
{ 
float: left;
width: 120px;
border: 1px solid #ddd; 
padding: 3px; 
margin: -1px 0 0 0; 
}

.a-multiple-select .add .a-btn { margin-left: 2px; }

.a-multiple-select-item
{
position: relative;	
float: left;
clear: both;
line-height: 20px;
}

.a-multiple-select-item span { float: left; }

.a-multiple-select-item .a-close-small { float: left; clear: none; }

.categories .a-multiple-select-item { width: 100%; }


/* Apostrophe Submit / Cancel 
-------------------------------------*/

input.a-submit,
input.a-cancel {
float: left;
position: relative;
color: #fff;
font: 12px/normal arial, sans-serif;
padding: 0px 4px;
/*z-index: 2;*/ /* TODO: Figure out why this is here */
width: auto;
cursor: pointer;
min-height: 20px;
}

input.a-submit:hover { background-color: #888!important; cursor: pointer; }