/* Apostrophe - IE Stylesheet
-------------------------------------*/

/* IE6 can't do anything, no global toolbar for you! */
.ie6 .a-global-toolbar { display: none; }

.ie7 input.checkbox,
.ie7 input.radio,
.ie6 input.checkbox,
.ie6 input.radio { width: auto; border: none !important; }

.ie7 .a-search form input.a-search-field,
.ie6 .a-search form input.a-search-field { line-height: 20px; }

.ie7 ul.a-slideshow,
.ie6 ul.a-slideshow { background: none !important; }

.ie7 div.tag-suggestions li a,
.ie7 div.tag-suggestions li a:link,
.ie6 div.tag-suggestions li a,
.ie6 div.tag-suggestions li a:link { background: #444; }

.ie7 .a-slot.aSlideshow.compact .a-slideshow-title,
.ie6 .a-slot.aSlideshow.compact .a-slideshow-title { background: #000; }


/* Classname inheritance bug. Unset misplaced BG image */
.ie6 table.a-calendar { background-image:none; }

/* hard width needed to prevent wrapping */
.ie6 .a-ui.a-signin-popup .a-form-row.submit { width: 185px; padding-bottom: 10px; }

/* Don't show the thumbnail image */
.ie6 .a-media-item-thumbnail-image { visibility: hidden !important; }

/* IE z-index Bug fix for Menu Toggle */
.ie-z-index-fix { z-index: 9999; }

/* No Drop Shadow for IE */
.ie8 .dropshadow,
.ie7 .dropshadow,
.ie6 .dropshadow,
.ie8 .a-ui.dropshadow,
.ie7 .a-ui.dropshadow,
.ie6 .a-ui.dropshadow,
.ie8 .a-ui.a-options,
.ie7 .a-ui.a-options { border: 1px solid #ddd; border-bottom-color:#888; border-right-color:#888; }
