/* 	Apostrophe UI Reset based on Eric Meyer's Reset CSS  -- http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
/
/		Apply the .a-ui reset class name to the parent container of the Apostrophe UI element you are styling
/		In some instances, the UI is only a button or something small without a container. You can apply the .a-ui class directly to that element to reset it specifically
/ -------------------------------------------------------------------------- */

body { margin: 0; padding: 0; }

.a-ui div, .a-ui span, .a-ui iframe, 
.a-ui pre, .a-ui a, .a-ui img, 
.a-ui ol, .a-ui ul, .a-ui li, 
.a-ui fieldset, .a-ui form, .a-ui label, .a-ui legend, 
.a-ui table, .a-ui caption, .a-ui tbody, .a-ui tfoot, .a-ui thead, .a-ui tr, .a-ui th, .a-ui td
/*div.a-ui, span.a-ui, iframe.a-ui,
pre.a-ui, a.a-ui, img.a-ui,
ol.a-ui, ul.a-ui, li.a-ui, 
fieldset.a-ui, form.a-ui, label.a-ui, legend.a-ui, 
table.a-ui, caption.a-ui, tbody.a-ui, tfoot.a-ui, thead.a-ui, tr.a-ui, th.a-ui, td.a-ui*/
{ 
	margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; 
}

.a-ui li, .a-ui ul, .a-ui ol,
li.a-ui, ul.a-ui, ol.a-ui { list-style: none; }

.a-ui h1, h1.a-ui { font-size: 36px; }
.a-ui h2, h2.a-ui { font-size: 28px; }
.a-ui h3, h3.a-ui { font-size: 20px; }
.a-ui h4, h4.a-ui { font-size: 14px; }
.a-ui h5, h5.a-ui { font-size: 12px; font-weight: bold; }
.a-ui h6, h6.a-ui { font-size: 12px; color: #999; }

input::-moz-focus-inner 
{ 
    border: 0;
    padding: 0;
}