/* Apostrophe Utility Classes
-------------------------------------*/

/* General Dropshadow class used on modal boxes */
.dropshadow
{
-moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.5);
-webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.5);
-opera-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.5);
-khtml-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.5);
box-shadow:0px 0px 5px rgba(0, 0, 0, 0.5);
}

/* General overlay class to create a translucent box overtop of a containing element */
.a-overlay { position:absolute; top:0; left:0; display:none; background: rgba(255,255,255,0.5); height:100%; width:100%; z-index:999; overflow: hidden; }
.a-overlay.active { display: block; }
/* Complete page overlay class to create a translucent box overtop of the entier page */
.a-page-overlay { display: none; overflow: hidden; position: fixed; top: 0; left: 0; right: 0; bottom: 0; height: 100%; width: 100%; background: rgba(255,255,255,0.65); z-index: 996; }

/* Put a spinner anywhere */
/* <span class="a-spinner"></span> */
.a-spinner { background: url(/apostrophePlugin/images/a-icon-loader-2.gif) center center no-repeat; float: left; display: block; height: 20px; width: 20px; border: 0; margin: 0; padding: 0; text-indent: -9999px; overflow: hidden; }

/* Hide any element */
/* <div class="a-hidden"></div> */
.a-hidden { display: none !important; margin: 0 !important; padding: 0 !important; height: 0 !important; width: 0 !important; }

/* Invisible any element */
/* <div class="a-invisible"></div> */
.a-invisible { visibility: hidden !important; }

/* Default Value in form fields */
/* <input type="text" value="default" class="a-default-value"/> */
.a-default-value { color: #888; }

/* Make any element a block inside its column */
.a-block { width: 100%; float: left; clear: both; display: inline; position: relative; }

/* Disabled - Fade and force default cursor */
.a-disabled, .a-disabled * { cursor: default !important; opacity: 0.65; }

/* Alignment */
.a-ui .a-align-right,
.a-ui.a-align-right,
.a-align-right { float: right; }
.a-ui .a-align-left,
.a-ui.a-align-left,
.a-align-left { float: left; }

/* Z-Index Clobber */
.a-super-z-index { z-index: 9999; }

/* Accordion works with apostrophe.accordion() */
.a-accordion .a-accordion-content { display: none; }
.a-accordion.open .a-accordion-content { display: block; }
.a-accordion-toggle.hover,
.a-accordion-toggle:hover { cursor: pointer; color: #000; }

.a-fix-me { color: #fff !important; background: #f00 !important; }

.a-ui .a-remote-data-loading
{
	background: rgba(0,0,0,0.1);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	min-height: 50px;
	min-width: 50px;
	background: url(/apostrophePlugin/images/a-icon-loader-2.gif) 50% 50% no-repeat;
	clear: both;
}

.a-do-not-edit { background: #d22; color: #fff; padding: 8px; font-size: 16px; text-shadow: 1px 1px 0px #000; text-align: center; }
.a-do-not-edit a { color: #fff; text-decoration: underline; } 
.a-do-not-edit strong { font-weight: bold; }

/* Clear Fix - Borrowed from HTML5 Boilerplate -- http://html5boilerplate.com */

.clearfix:before,
.clearfix:after
{
  content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;
}

.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* This input class is for actAsSubmit. It hide the submit button that allows for pressing ENTER on inputs to submit the form. */
input.a-hidden-submit
{
	position: absolute !important;
	border: none !important;
  width: 0 !important;
  height: 0 !important;
  line-height: 0 !important;
  padding:0 !important;
  margin: 0 !important;
}