/* General Dropshadow class used on modal boxes */
.dropshadow
{
-moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.5);
-webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.5);
-opera-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.5);
-khtml-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.5);	
box-shadow:0px 0px 5px rgba(0, 0, 0, 0.5);
}

/* General overlay class to create a translucent box overtop of a containing element */
.a-overlay { position:absolute; top:0; left:0; display:none; background: rgba(255,255,255,0.5); height:100%; width:100%; z-index:999; overflow: hidden; }

/* Complete page overlay class to create a translucent box overtop of the entier page */
.a-page-overlay { display: none; overflow: hidden; position: fixed; top: 0; left: 0; right: 0; bottom: 0; height: 100%; width: 100%; background: rgba(255,255,255,0.65); z-index: 998; }

/* Put a spinner anywhere */
/* <span class="a-spinner"></span> */
.a-spinner { background: url(/apostrophePlugin/images/a-icon-loader.gif) center center no-repeat; float: left; display: block; height: 20px; width: 20px; border: 0; margin: 0; padding: 0; text-indent: -9999px; overflow: hidden; }

/* Hide any element */
/* <div class="a-hidden"></div> */
.a-hidden { display: none !important; }

/* Default Value in form fields */
/* <input type="text" value="default" class="a-default-value"/> */
.a-default-value { color: #888; }

/* Make any element a block inside its column */
.a-block { width: 100%; float: left; clear: both; display: inline; position: relative; }

/* Disabled - Fade and force default cursor */
.a-disabled, .a-disabled * { cursor: default !important; opacity: 0.65; }

/* Alignment */
.a-align-right { float: right !important; }
.a-align-left { float: left !important; }

/* Accordion works with apostrophe.accordion() */
.a-accordion .a-accordion-content { display: none; } 
.a-accordion.open .a-accordion-content { display: block; }

.a-accordion-toggle.hover,
.a-accordion-toggle:hover
{
	cursor: pointer;
	color: #000;
}

.a-fix-me
{
	color: #fff !important;
	background: #f00 !important;
}