/* ================================================================================================
* a Admin
*	Styles for Administrative Functionality
* ================================================================================================
*/

#a-admin-container
{
font: 12px/1.25 Arial, sans-serif;
position: relative;
float: left;
}

#a-admin-container a img,
#a-admin-container a:link img,
#a-admin-container a:visited img
{
border: none;
}

#a-admin-container a:link, 
#a-admin-container a:visited
{
color: #ac3;
text-decoration: none;
}

#a-admin-container a:hover
{
color: #333;
}

#a-admin-container td
{
margin: 0;
vertical-align: top;
}

#a-admin-container p
{
}

#a-admin-container #a-admin-bar
{
float: left;
display: inline;
width: 100%;
margin: 0 0 20px 0;
position: relative;
}

#a-admin-container #a-admin-bar,
#a-admin-container #a-admin-bar a,
#a-admin-container #a-admin-bar h2
{
color: #13A0BC;
line-height: 24px;
}

#a-admin-container #a-admin-bar h2
{
}

#a-admin-container #a-admin-bar h2.a-admin-title
{
color: #555;
font-size: 24px;
line-height: 24px;
float: left;
top: 0;
text-transform: capitalize;
}



#a-admin-container #a-admin-content
{
float: left;
display: inline;
margin: 0;
width: 720px;
}

#a-admin-container #a-admin-content #a-admin-list-actions
{
	width:100%;
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:1px solid #ddd;
}

#a-admin-container .notice
{
color: #555;
font-size: 18px;
line-height: 18px;
margin-bottom: 20px;
}

#a-admin-container fieldset h2
{
padding: 10px 0 0;
margin: 0 0 10px 0;
color: #333;
background-color: transparent;
font-size: 14px;
text-transform: capitalize;
border-top: 1px #ddd solid;
}

#a-admin-container input, 
#a-admin-container textarea, 
#a-admin-container select
{
padding: 3px;
font-family: Arial, sans-serif;
font-size: 11px;
border: 1px solid #ddd;
vertical-align: middle;
width: 358px;
}

#a-admin-container .a-admin-text input
{
	float: left;
	clear: both;
}

#a-admin-container input.a-admin-batch-checkbox
{
width: auto;
}

#a-admin-container select
{
width: auto;
}

#a-admin-container .a-admin-batch-actions-choice select
{
float: left;
margin-right: 10px;
}

#a-admin-container .save-ok
{
margin-bottom: 10px;
border: 1px solid #73B65A;
}

#a-admin-container .save-ok h2
{
margin: 0 !important;
padding: 5px 20px 5px 25px;
font-size: 11px;
color: #fff;
background: #73B65A url(../images/ok.png) no-repeat 5px 2px;
}

#a-admin-container .form-row,
#a-admin-container .a-form-row
{
position: relative;
padding: 10px 10px 10px 120px;
/*overflow: hidden;*/
float: left;
clear: both;
min-width:590px;
width: 590px;
}

#a-admin-container .a-form-row,
#a-admin-container .a-form-row td
{
margin-bottom: 10px;
/*width: 100%;*/
float: left;
clear: both;
position: relative;
}

#a-admin-container .a-form-row .content,
#a-admin-container .form-row .content
{
padding-left: 9em;
}

#a-admin-container .a-form-row label,
#a-admin-container .form-row label
{
float: left;
text-align: left;
width: 120px;
color: #666;
font-weight: normal !important;
text-transform: capitalize;
position: absolute !important;
top: 10px;
left: 0;
line-height: 20px;
display: block;
}

#a-admin-container .a-form-row .checkbox_list label,
#a-admin-container .form-row .checkbox_list label
{
position: absolute;
display: inline;
top: 0;
left: 20px;
float: left;
width: auto !important;
}

#a-admin-container .a-form-row .checkbox_list li,
#a-admin-container .form-row .checkbox_list li
{
float: left;
display: inline;
width: 100%;
position: relative;
}

#a-admin-container .a-form-row .a-help
{
display: block;
clear: both;
width: 500px;
margin: 10px 0 20px 0;
font-size: 11px;
color: #999;
}

#a-admin-container #a-admin-footer
{
width: 720px;
float: right;
line-height: 1.5;
margin: 20px 0;
}

#a-admin-container label.required
{
color: #333 !important;
font-weight: bold !important;
}



#a-admin-container .form-errors
{
margin-bottom: 10px;
border: 1px solid #f33;
background-color: #ffc;
}

#a-admin-container .form-errors h2
{
padding: 5px 20px 5px 25px;
font-size: 11px;
color: #fff;
background: #f33 url(../images/error.png) no-repeat 5px 2px;
}

#a-admin-container .form-errors dl
{
padding: 5px;
}

#a-admin-container .form-errors dt
{
font-weight: bold;
float: left;
padding-right: 5px;
}

#a-admin-container .form-errors dd
{
margin: 0;
}

#a-admin-container .form-error
{
color: #f33;
}

#a-admin-container fieldset
{
margin-bottom: 3px;
background-color: #fff;
border: none;
}

#a-admin-container ul.a-admin-td-actions
{
list-style-type: none;
}

#a-admin-container ul.a-admin-td-actions li
{
list-style-type: none;
display: block;
float: left;
width: auto;
margin: 0 1px 5px 0;
}

#a-admin-container ul.a-admin-actions
{
float:left;
display:inline;
width:100%;
margin: 10px 0;
list-style-type: none;
border-top: 1px solid #e2e2e2;
padding-top: 20px;
}

#a-admin-container ul.a-admin-actions a
{
color: #333;
}

#a-admin-container ul.a-admin-actions li
{
list-style-type: none;
display: inline;
float: left;
margin-right:1px !important;
}

#a-admin-container.sfGuardUser a.icon.a-add .a-b
{
	background-image: url(/apostrophePlugin/images/a-icon-users.png);
}

#a-admin-container ul.a-admin-actions li.a-admin-batch-actions-choice
{
float: left;
}

#a-admin-container ul.a-admin-actions input
{
padding: 2px;
color: #333;
font-size: 11px;
font-family: Arial, sans-serif;
border: 0px;
border-right: 4px solid #999;
background-color: #ffc;
cursor: hand;
cursor: pointer;
width: auto;
}

#a-admin-container .a-admin-default-action
{
background-color: #fc6 !important;
font-weight: bold !important;
}

.a-admin-form-container,
#a-admin-form,
#a-admin-batch-form,
#a-admin-container .a-admin-list
{
float: left;
clear: both;
width: 100%;
border-bottom: 0px;
border-right: 0px;
}

.a-admin-form-container .a-admin-form-container
{
	margin-top: 40px;
	margin-left: -120px;
	
}

#a-admin-container .a-admin-list-table
{
width: 100%;
}

#a-admin-list-batch-actions
{
width: 20px;
}

#a-admin-list-batch-actions *
{
display: block;
}

#a-admin-list-th-actions
{
width: 100px;
}

#a-admin-container .a-admin-list thead th
{
font-size: 18px;
padding: 6px 3px;
text-align: left;
border-bottom: 1px solid #e2e2e2;
line-height: 24px;
vertical-align: middle;
}

#a-admin-container .a-admin-list thead th *
{
float: left;
}

#a-admin-container .a-admin-list tfoot th
{
padding: 3px 6px;
border-top: 1px solid #e2e2e2;
background-color: #f4f4f4;
}

#a-admin-container .a-admin-list th a
{
color: #333;
}

#a-admin-container .a-admin-list td
{
padding: 6px 3px;
border: none;
}

#a-admin-container .a-admin-filter li
{
list-style-type: none;
}

#a-admin-container .a-admin-row td
{
border-bottom: 1px solid #e2e2e2;
}

#a-admin-container .a-admin-row.last td
{
border: none;
}

#a-admin-container .a-admin-row-1 td
{
border-top: 1px solid #e2e2e2;
}

#a-admin-container .a-admin-edit-help
{
color: #aaa;
}

#a-admin-container select.a-admin-multiple, 
#a-admin-container select.a-admin-multiple-selected
{
width: 12em;
}

#a-admin-container ul.a-admin-checklist li
{
list-style: none;
list-style-position: outside !important;
line-height: 1.5em;
}

#a-admin-container ul.a-admin-checklist li label
{
display: inline;
float: none;
}

#a-admin-subnav
{`
display: block;
position: relative;
float: left;
width: 200px;
margin-right: 40px;
min-height: 500px;
}

#a-admin-subnav ul, 
#a-admin-subnav li
{
display: block;
float: left;
width: 100%;
}

#a-admin-subnav li
{
margin: 0;
}

.a-admin-actions input
{
border: 1px solid #ccc !important;
padding: 3px;
background: #fff !important;
font-size: 12px !important;
vertical-align: baseline !important;
}

.a-admin-actions input:hover
{
border-color: #666 !important;
}

.a-admin-date select
{
}

.a-admin-list-results
{
float: right;
font-size: 14px;
color: #333;
height: 20px;
line-height: 20px;
margin: 10px 0;
width: 100px;
}

#a-admin-bar
{
width: 100%;
margin: 0;
float: left;
display: inline;
clear: both;
height: 41px; /* this _should_ fix a safari height bug */
}

#a-admin-bar .a-admin-controls
{
margin-left: 10px;
float: left;
}

#a-admin-bar .a-admin-controls li
{
float: left;
display: inline;
line-height: 30px;
margin: 0 10px 0 0;
}

#a-admin-bar .a-admin-bg img
{
width: 100%;
height: 11px;
}


.specialbox .content-container.editing
{
padding-top: 10px;
background: url(/apostrophePlugin/images/a-special-caution.png) top left repeat-x !important;
}

.caution
{
float: left;
margin-bottom: 40px;
color: #333;
padding: 16px 0 10px;
border: 1px solid #e2e2e2;
background: url(/apostrophePlugin/images/a-special-caution.png) top left repeat-x;
}

.caution-padding
{
display: block;
float: left;
margin: 0 10px;
clear: both;
}

/* JQ Date Picker Fix */
#ui-datepicker-div
{
z-index: 9999;
}

.ui-datepicker-trigger
{/* This seems like a temporary solution, the datepicker markup sucks */
position: relative;
top: 6px;
left: 3px;
}

.ui-datepicker-trigger:hover
{
cursor: pointer;
}


.a-admin-controls
{
position: relative;
float: left;
width: 720px !important;
border-bottom: 0;
}


#a-admin-container .a-admin-flashes
{/* We should make two styles for .a-admin-flashes.error and .a-admin-flashes.notice */
color: #EF9920;
float: left;
clear: both;
width: 100%;
margin: 0 0 20px 0;
padding-bottom: 10px;
border-bottom: 1px solid #ddd;
font-size: 14px;
line-height: 20px;
text-indent: 24px;
background: transparent url(/apostrophePlugin/images/a-icon-error.png) no-repeat scroll left top;
}

#a-admin-container form .a-form-row .error_list
{
width: 100%;
float: left;
margin: 0;
font-size: 11px;
}

#a-admin-container form .a-form-row .error_list li
{
padding-left: 24px;
line-height: 20px;
}

#a-admin-container form .form-row .error_list
{
display: block;
font-size: 11px;
}

#a-admin-container form .error_list li
{
height: 20px;
line-height: 24px;
padding-left: 20px;
background: url(/apostrophePlugin/images/a-icon-error.png) top left no-repeat;
list-style: none;
list-style-position: outside;
}

/* [start] PK ADMIN FILTERS =================================================================*/

#a-admin-container #a-admin-filters-container
{
display: none;
float: left;
clear: both;

width: 100%;
margin-bottom: 24px;
color: #333;
border: 1px solid #e2e2e2;
}

#a-admin-container #a-admin-filters-container #a-admin-filters-form
{
padding: 10px;
}

#a-admin-container #a-admin-filters-container #a-admin-filters-form .a-form-row
{
	padding:0;
	margin:0;
}

#a-admin-container #a-admin-filters-container #a-admin-filters-form .a-form-row .a-admin-filter-label
{
	width:120px;
	float:left;
	display:inline;

}


#a-admin-container #a-admin-filters-container #a-admin-filters-form .a-form-row .a-admin-filter-label label
{
float:left;
display:inline;

}

#a-admin-container #a-admin-filters-container #a-admin-filters-form .a-form-row .a-admin-filter-field
{
	float:left;
	display:inline;
	margin:0 0 0 120px;
}

#a-admin-container #a-admin-filters-container #a-admin-filters-form .a-form-row .a-admin-filter-field label
{
	position: relative;
	display: block;
	float: left;
}

/* [END] PK ADMIN FILTERS =================================================================*/