.tree-punk .a-tree-delete-btn ,
.tree-punk .a-tree-delete-btn:hover
{
position: absolute;
top: 50%;
right: 0;
margin-top: -8px;
display: block;
height: 16px;
width: 16px;
margin-left: 4px;
text-indent: -999em;
overflow: hidden;
background: url('/apostrophePlugin/images/a-icon-alt-trash.png') 50% 51% no-repeat;
padding: 0 !important;
border: 0;
cursor: pointer;
}
.tree-punk .a-tree-delete-btn:hover
{
	opacity: 0.65;
}

.tree-punk li a:hover, 
.tree-punk li a.hover
{
	border: 1px solid #ddd !important;
	color: #000 !important;
}
.tree-punk li a.clicked, .tree-punk li a.clicked:hover, .tree-punk li span.clicked
{
	padding: 0px !important;
}

.tree-punk li.open { background-image:url("minus.gif"); background-position:2px 5px; }
.tree-punk li.closed, #jstree-dragged.tree-punk li li.open { background-image:url("plus.gif"); background-position:2px 5px; }
.tree-punk li a { background: #fff; float: left; padding: 1px; position: relative; }
.tree-punk li span { padding:1px 19px 1px 20px; }
.tree-default li a, .tree-default li span { background-position: 0 0; }
.tree-punk li .a-tree-title { background-image:url("/apostrophePlugin/images/a-icon-page.png"); }
.tree-punk li.archived .a-tree-title { background-image:url("/apostrophePlugin/images/a-icon-page.png"); opacity:.5; }
.tree-punk li.engine-aBlog .a-tree-title { background-image:url("/apostrophePlugin/images/a-icon-page-blog.png"); }
.tree-punk li.engine-aEvent .a-tree-title { background-image:url("/apostrophePlugin/images/a-icon-page-events.png"); }
/*.tree-punk li.engine-aMedia .a-tree-title { background-image:url("/apostrophePlugin/images/a-icon-page-media.png"); }*/
.tree-punk .rtl li.closed, #jstree-dragged.tree-punk .rtl li li.open { background-image:url("plus_rtl.gif"); }
.tree-punk li a:hover { background-color:#ddd; border: 0 !important; color:#fff; padding: 1px !important; }
.tree-punk li a.clicked, 
.tree-punk li a.clicked:hover, 
.tree-punk li span.clicked { background-color:#ddd; border-color:#ddd; color:#fff; }
/* RIGHT TO LEFT SUPPORT */
.tree-punk .rtl li.open { background:url("minus_rtl.gif") right 6px no-repeat;   }
.tree-punk .rtl li.closed { background:url("plus_rtl.gif") right 4px no-repeat; }
.tree-punk .rtl li li.open, .tree-punk .rtl li li.closed { padding-right:19px; margin-right:-3px; }
#jstree-dragged.tree-punk .rtl li li.open { background:url("plus_rtl.gif") right 4px no-repeat; }
.tree-punk li a:hover, .tree-default li a.hover { padding:0px 3px 0px 4px; }
/* DELETE BUTTON */
.tree-punk li .a-delete {position: absolute;}
.tree-punk li .a-delete, .tree-default li .a-delete:hover {opacity:.5;float: left !important;}
.tree-punk li .a-delete:hover {opacity:1;}
.tree-punk li .a-delete span, .tree-default li .a-delete:hover span { padding:0px; margin:0;background-position: 0px 0px; }
/* SCROLLING BACKGROUND */
.tree-punk .ltr, .tree-punk .rtl { background:url("bg.jpg") left top repeat; min-width:100%; _width:100%; margin-left:0; margin-right:0; }
.tree-punk .ltr > li.leaf, .tree-punk .rtl > li.leaf { background-image:none; }
.tree-punk > ul > li.last { height:auto !important; margin-bottom:auto !important; background-image:none; }
#jstree-dragged.tree-punk .rtl, #jstree-dragged.tree-punk .ltr { min-width:auto; _width:auto; }

/* IE6 
* html .tree-punk ul li.leaf { _background-image: expression(/DIV/.test(this.parentNode.parentNode.tagName) ? "none" : "inherit"); }*/

