/* 34. aUI & Admin Colors - Default
-------------------------------------*/

#a-global-toolbar #the-apostrophe
{ /* Apostrophe */
	background-color: rgb(255,150,0);
	background-color: rgba(255,150,0,0.75);	
}

.a-btn,
.a-submit,
.a-cancel,
.a-admin-list th a
{ /* Button Border Radius */
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
}

.a-btn,
.a-submit,
.a-cancel
{ /* Button Styles */
	background-color: rgb(255,150,0);
	background-color: rgba(255,150,0,0.75);	
	text-shadow: 0 -1px 0px rgba(0,0,0,0.20);
	border:1px solid rgba(20,20,20,.2);	
}

#the-apostrophe:hover,
.a-btn:focus,
.a-btn:hover,
.a-btn:hover span
{/*Button Hover Style*/
color: #fff !important;
text-shadow: 0 -1px 0px rgba(0,0,0,0.20);
background-color: #888 !important;
text-decoration: none !important;
}

.a-btn:active,
.a-btn:active span
{/*Button Hover Style*/
color: #eee !important;
text-shadow: 0 -1px 0px rgba(0,0,0,0.20);
background-color: #111 !important;
text-decoration: none !important;
}

.a-btn.alt,
.a-submit.alt,
.a-cancel.alt
{ /* Button Styles */
color: #444 !important;
text-shadow: 0 1px 0px rgba(255,255,255,255.20);
background-color: #fff !important;
}

.a-btn.alt:hover,
.a-submit.alt:hover,
.a-cancel.alt:hover
{ /* Button Styles */
background-color: #E0E0E0 !important;
}

.a-btn.alt,
.a-submit.alt,
.a-cancel.alt,
.a-history-browser,
ul.a-controls .a-variant-options
{ /* Border Color */
border-color: rgb(255,150,0);
}

.a-attribution a,
.a-admin .a-admin-content a:link, 
.a-admin .a-admin-content a:visited,
#a-global-toolbar #a-logged-in-as span,
#a-personal-settings-heading span
{ /* Text Color */
color: rgb(255,150,0);
}