.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.dropshadow
{ /* General Dropshadow class used on modal boxes */
-moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.5);
-webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.5);
-opera-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.5);
-khtml-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.5);	
box-shadow:0px 0px 5px rgba(0, 0, 0, 0.5);
}

.a-overlay
{ /* General overlay class to create a translucent box overtop of a containing element */
	position:absolute;
	top:0;
	left:0;
	display:none;
	background: rgba(255,255,255,0.5);
	height:100%;
	width:100%;
	z-index:999;
	overflow: hidden;
}

.a-page-overlay
{
display: none;
overflow: hidden;
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
height: 100%;
width: 100%;
background: rgba(255,255,255,0.5);
z-index: 998;
}

.a-spinner
{ /* A general class for Spinner gif */
float: left;
display: inline;
clear: none;
height: 20px;
width: 20px;
border: 0;
margin: 0;
padding: 0;
background: url(/apostrophePlugin/images/a-icon-loader.gif) center center no-repeat;
text-indent: -9999px;
}

.a-accordion .content
{ /* Works with aAccordion() in aUI.js */
	display: none;
}

.a-accordion.open .content
{
	display: block;
}